<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>
<body>
    <h1>Periodic Table Of Quinine Elements</h1>

    <div class="container-flex">
        {{#each list}}
                <div class="inline">
                    <h1>{{this.simbolo}}</h1>
                    <h3>{{this.nombre}}</h3>
                    <h4>{{this.tipo}}</h4>
                </div>
                {{#if separator}}
                    <div class="separator"></div>
                {{else}}

                {{/if}}
                
        {{/each}}
    </div>

    <script src="../assets/js/lib/bootstrap.min.js"></script>
</body>
</html>