.container-css{
  max-width: 960px;
  margin: 0 auto;
  background-color: darkslategrey;
}

.rectangle-blue{
    display: flex;
    margin: 3px;
    padding: 2px;
    width: 100px;
    height: 200px;
    background-color: rgb(140, 140, 141);
    color: rgb(6, 8, 10);
}