/*start edit all*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/*finished edit all*/

/*h1 ... h6*/
h1,h2,h3,h4,h5,h6{
    margin: 2px;
    text-align: center;
    position: relative;
}
h1{
    text-transform: capitalize;
    font-size: 20px;
}
h2{
    font-size: 10px;
}
h3{
    font-size: 8px;
}
h4{
    font-size: 5px;
}
h6{
    font-size: 8px;
}
/*finished h1...h6*/

/*containers*/
.container-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.inline{
    display: flex;
    margin: 3px;
    padding: 3px;
    width: 5%;
    height: 75px;
    border: solid 1px #000;
    justify-content: center;
    flex-direction: column;
}
/*finished container*/

/*separator*/